*{
    box-sizing: border-box;
}

.next{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 100px;
}

.message{
    text-align: center;
}

.container{
    width:90vw;
    margin :auto;
    border:1px solid #ddd;
}

.game{
    margin: 10px;
    padding: 10px;
    background-color: #eee;
}

.question{

    font-size: 1.2em;
    padding: 5px;
    margin: 3px;
}

.opts button{
    margin:3px;
    text-transform: capitalize;
    padding: 3px;
    color: white;
    background-color: black;
    min-width: 90px;
}

#btn{
    display: block;
    padding : 10px;
    font-size: 2em;
    margin: auto;
}